div.scrollmenu{
    background-color: transparent;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 10px;
}

.scrollmenu {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll; 
}
  
.scrollmenu::-webkit-scrollbar {
    display: none;
}

div.scrollmenu a .tag.active{
    text-align: center;
    text-decoration: none;
    color: #303030;
    background-color: #FFFFFF;
    border-radius: 50px; 
}

div.scrollmenu a .tag{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px 14px;
    margin-right: 14px;
    text-decoration: none;
    background-color: #232323;
    border-radius: 50px;
    cursor: pointer;
}

.tag.border{
    border: none;
}
